.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #282c34 !important;
}

.cart-div-height{
  height: 60vh;
  scroll-behavior: smooth;
  overflow-y: scroll ;
  width: 100%;
  
}
.cart-div-height::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.checkout-address-phone{
  font-size: 0.86rem;
  font-weight: 500;
  color: rgb(39, 39, 136);
}


.spinner-style{
 position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
  color: #79a206;
 
}

.vertically-center{
   position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
}

.font-white {
  color: aliceblue !important;
}